html, body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.noscroll {
    overflow: hidden;
}

#tutorial {
    margin: 30px;
}

p {
    font-size: 20px;
    margin: 10px;
    
}

.bold {
    font-weight: 600;
    font-size: 30px;
}

table, td
{
    border-spacing: 0px;
    border: 0px;
}
